node_modules/
dist/
.env
*.js.map
*.d.ts
!tsconfig.json
**/.terraform/*
.terraform/

# Arquivos de estado (State files)
*.tfstate
*.tfstate.*

# Arquivos de variáveis sensíveis
*.tfvars
*.tfvars.json
